.input-field {
    padding-bottom: 48px;
}
.input-control{
    width: 734px;
    height: 40px;
    background: transparent;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
    border-radius: 4px;
    border: none;
    outline: none;
    padding-left: 16px;
    transition: 0.5s;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}
.input-control:last-child{
    font-size: 14px;
}
.input-field span,
.select-inputs .label-control span,
.characters .label-control span{
    color: #DC3545;
    font-size: 20px;
}
.label-control{
    position: absolute;
    text-transform: capitalize;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    color: #212529;
    left: 16px;
    margin-top: 6px;
    background-color: #F5F5F5;
    transition: 0.5s;
}
.input-field:hover.input-field .input-control,
.input-field:hover.input-field .label-control{
    /* background-color:#F7F7F9; */
    background-color: rgb(235, 230, 230);
}
.input-field .input-control[type="date"]::-webkit-inner-spin-button,
.input-field .input-control[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
.input-field .input-control::-webkit-outer-spin-button,
.input-field .input-control::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.error-message{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 350px;
    height: 87px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    position: fixed;
    left: 1531px;
    top: 226px;
}
.invalid-field{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 9.5px 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05)

}
.invalid-field >p{
    margin-left: 8px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px; 
    color: #DC3545;
}
.circle{
   width: 20px;
   height: 20px;
}
.error-txt{
    padding: 6px 12px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #212529;

}
.invalid{
    background-color: #FFEFEF;
    color: #DC3545;
}
.error{
    color: #DC3545;
}
.valid-sign{
    position: relative;
}
.valid-sign img{
    position: absolute;
    top: -27px;
    right: 13px;
}